* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightgrey;
  border: 1px solid black;
  height: 10vh;  
}
#body {
    border: 1px solid black;
  height: calc(100vh - 10vh);
  background-color: lightblue;
}
body {
  padding: 1em;
  gap: 1rem;
}
.flex-contaner {
  display: flex;
}
.flex--column {
  flex-direction: column;
}
.row {

  padding: 1em;
  border: 1px solid #0000ff;

  width: 100%;
}
.col {
  background-color: antiquewhite;

  padding: 1em;
  height: fit-content;
  border: 1px solid #ff0000;
}
#col-1 {
  width: 30%;
  margin-top: 105px;
}
#col-2 {
  width: 70%;
}
