* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border {
  border: 1px solid black;
}

.border--red {
  border: 1px solid red;
}

.border--green {
  border: 1px solid green;
}

.border--blue {
  border: 1px solid blue;
}

.card {
  width: 300px;
}
.cards,
.card {
    padding: 1em;
}

.card__title,.card__description{
    padding: 0.25em 1em;
}
.cards {
  margin: 20px;
}
.last__cards {
  margin-top: 1rem;
}
.card__content>.card__icon {
  height: 48px;
  width: 48px;
}