* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border {
  border: 1px solid black;
}

.border--red {
  border: 1px solid red;
}

.border--green {
  border: 1px solid green;
}

.border--blue {
  border: 1px solid blue;
}
.container {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}
.container--column{
  flex-direction: column;
}
.card {
    width: 300px;
}
.card__title {
 height: 1.25em;
}
.card__value {
 height: 2em;
}